*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.kutular{
    display: flex;
}
.kutular span{
    background-color: #ffffff;
    padding:10px  10px;
    width: 100%;
    color: #333333;
    margin: 10px 5px;
    font-weight: 600;
    border-left: 3px cornflowerblue solid;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius:  0 0 10px 0;
    display: block;
}
.complate{
    position: relative;
    color: #fff;
    text-align: center;
    background: url(../img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
    width:100%;
    height: 300px;
}
.Contact-Us{
    background: url(../img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    height: 300px;
}
.icerik{
    width: 750px;
    display: block;
    margin:  0  auto;
}
.blog .card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer{
    position: relative;
    background: url(../img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    height: 450px;
}
footer h4{
    border-bottom: 2px solid rgb(255, 255, 255);
}
.text-justify{
    text-align: justify;
}

